<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <h5 class="text-white h4">PORTFOLIO</h5>
      <span class="text-muted">SHIVAM GOYAL</span>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
  


  <div>
    <img src="../assets/Screenshot (136).png" alt="portfolio" width ="100%" height="550px">
  </div>



  <div class="container">
    <div style="padding-bottom: 20px;padding-top: 10px;">
    <h1>CERTIFICATIONS</h1>
  </div>
    <ul>
 <div style="padding-bottom: 20px;"> 
     
     
  <div style="color: blue;">
<h2>Internet of ThingsWorkshop</h2></div>
<h4>Kyrion Technologies</h4>
<li><h6> August - September 2019  IIT, Roorkee</h6>
<h6> It was an introductory workshop for Internet of things for Absolute
beginners and and Providing Knowledge and Understanding
the Advancements of Arduino and it’s features and
coding around it in C.</h6></li>
</div> 
<div style="padding-bottom: 20px;">
  <div style="color: blue;">
<h2>Web Development</h2></div>
<h4>DUCAT</h4>
<li><h6> June 2019 - August 2019  Faridabad, Haryana</h6>
<h6> Course designed for Gaining basic and advanced knowledge
for theWeb Development Domain gaining skills for both Front
and Back-end such as HTML, CSS, Bootstrap,etc.</h6></li>
</div>
<div style="padding-bottom: 20px;">
  <div style="color: blue;">
<h2>Python Programming</h2></div>
<h4>Coursera</h4>

<li><h6> Mar 2019 - April 2019  Online</h6>
 <h6> 
 It was an introduction into Python course for beginners and
intermediate learners with lots of examples and exercises designed
and supervised by University of Michigan.</h6></li>
</div>
<div style="padding-bottom: 20px;">
  <div style="color: blue;">
<h2>Data ScienceWorkshop</h2></div>
<h4>Kyrion Technologies</h4>
<li><h6> Mar 2019 - April 2019  DTU, Delhi</h6>
<h6> It was an introduction into Fundamentals of Data Science using
Python for beginners and its implementation based on real
life applications with lots of examples and exercises.</h6></li>
</div>
<div style="padding-bottom: 20px;">

  <div style="color: blue;">
<h2>College to Corporate</h2></div>
<h4>IITBOMBAYX</h4>
<li>
<h6> Sept - November 2018  Online</h6>
<h6> Pursued courses in 3 Disciplines:</h6> 
<ol>
<li>Workplace Communication- October’18 - November’18</li> 
<li>Effective use of IT for Professional Activities - Sept’18 - November’18</li> 
<li>Soft Skills -September’18 - October’18
</li></ol>
</li>
</div>
<div style="padding-bottom: 20px;">
<div style="color: blue;">
<h2>Computer Applications</h2>
</div>
<h4>ITEC</h4>
<li>
<h6> April 2018 - July 2018  Faridabad, Haryana</h6>
<h6> It was an introduction into Computer Applications and Basic
Beforehand Knowledge for beginners like MS Office, MS
Dos,etc.</h6>

</li>
</div>


</ul>
    


  </div>
  
  <div class="container" >
    <h1>SKILLS</h1>
    <ul>
      <li class="html">HTML</li>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:90%">
          
        </div>
      </div>
      <li class="css">CSS</li>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="80"
        aria-valuemin="0" aria-valuemax="100" style="width:80%">
        
         
        </div>
      </div>
      
      <li class="ng">Angular</li>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="50"
        aria-valuemin="0" aria-valuemax="100" style="width:50%">
          
        </div>
      </div>
      <li class="py">Python</li>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="90"
        aria-valuemin="0" aria-valuemax="100" style="width:75%">

         
        </div>
      </div>

      <li class="c">C</li>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="70"
        aria-valuemin="0" aria-valuemax="100" style="width:70%">
         
        </div>
      </div>
    </ul>
    


  </div>
  <div class="container" style="padding-bottom: 20px;padding-top: 20px;">
  <h1>COURSEWORKS</h1>
  <ul><h5>
    <li>Database Management Systems</li>
    <li>Data Structures</li>
    <li>Algorithm Design and Analysis</li>
    <li>Object Oriented Programming</li>
    <li>Operating Systems</li>
    <li>Web Technology</li>
  </h5>
  </ul>
  </div>
  <div>
    <h1 style="text-align: center;">About <span style="color:red;">Me!</span></h1>
    <div class="container" style="text-align: center;color: darkred;padding-bottom: 50px;padding-top: 50px;"><h2>Just Into Learning Stage And Making Stuff</h2></div>
    <div class="container" style="padding-bottom: 50pxcmd;">
    <div class="row">
      <div class="col-xl-6 col md-6">
          <h3 style="color: cadetblue;"><strong style="color: blue;">Learning stuff</strong>-starting with basics and making small efforts to learn and make stuff.</h3>
    </div>
      <div class="col-xl-6 col md-6">
      
        <h3 style="color: cadetblue;"><strong style="color: blue;">Documentaion</strong>-Sharing knowledge and ideas with others helps is growing and development.</h3>
   
      </div>
    </div>
    </div>
  </div>

<div  style="background-color: black; padding-bottom: 100px;" >
  <div class="row" style="text-align: center;;">
    <div class="col-xl-4"> 
    <div style="color: rgb(163, 139, 42);">
      
      <h1>Contact:     </h1>
    </div>
      <div class="container" style="padding-top: 40px;font-size:30px;">
       <a href="#" >+917289902665</a>       
      </div>


    </div>
    <div class="col-xl-4"> 
      <div style="color: rgb(163, 139, 42);">
      <h1>Follow me on:<span></span></h1>
    </div>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>

<div class="container" style="padding-top: 40px;font-size:35px;">
  

  <a class="fa fa-github"  href="https://github.com/shivamcreator" style="padding-left:15px;  "   aria-hidden="true"></a>
  
  



  <a class="fa fa-google"  href="http://www.shivamr.kgoyal@gmail.com/" style="padding-left:15px ;size: 50px;"   aria-hidden="true"></a>
  <a class="fa fa-instagram" href="www.instagram.com" style="padding-left:15px ;size: 50px;"   aria-hidden="true"></a>
  
  <a class="fa fa-linkedin" href="https://www.linkedin.com/in/shivam-goyal-133996199/" style="padding-left:15px ;size: 50px;"   aria-hidden="true"></a>
  
</div>

<!--style type="text/css">
  .fa {
    padding: 4px;
    width: 200px;
  }

  .fa::before {
    display: inline-block;
    /* .fa-fw */
    width: 1.28571429em;
    text-align: center;
  }

  .fa::after {
    content: attr(class);
    font-family: consolas, monospace;
    font-size: 15px;
    /* .code */
    padding: 2px 4px;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    margin-left: 5px;
  }
</style-->


    </div>
    <div class="col-xl-4"> 
      <div style="color: rgb(163, 139, 42);">
      
      <h1>Location:</h1>
      </div>
      <div class="container" style="padding-top: 40px;font-size:30px;">
      <a href="https://goo.gl/maps/U4YiFnurbxNJJn1r5" >Faridabad,Haryana</a>
    </div>



    </div>
  </div>
</div>